:root{
    --ff-logo: Raleway;
    --ff-body: OpenSans;
    --ff-title-footer:Poppins;
    --ff-footer-news:Arvo;
    --header-bg: #1d1d1d;
    --color-red: #ef5050;
    --text-description: #8a8a8a;
    --text-nav-top: #727272;
    --text-footer: #bebebe;
    --link-hover:#f95b5b;
    --bg-footer: #141414;
    --color-input: #ccc;
    --color-meta-data: #a9a9a9;
    --color-blog-link: #333;
    --color-input-search: #c2c2c2;
    --color-filter-blog: #8b8b8b;
    --color-mark: #4e4e4e;

}
